In [1]:
# list is mutable, changable, ordered, allow duplicate values
l=[1,2,3,4]
l.insert(1,"added")
print(l)

[1, 'added', 2, 3, 4]

In [2]:
l.append(4)
print(l)

[1, 'added', 2, 3, 4, 4]

In [3]:
n=[4,5,2,1]
# n.sort()
m=sorted(n)

print(n)
print(m)

[4, 5, 2, 1]
[1, 2, 4, 5]

In [4]:
for i,j in enumerate(l):
    print(i,j)

0 1
1 added
2 2
3 3
4 4
5 4

In [5]:
item=["item 1","item 2","item 3","Item 4"]
cost=[23,433,12,67]

for i,j in zip(item,cost):
    print(f"item: {i} , price: {j}")

item: item 1 , price: 23
item: item 2 , price: 433
item: item 3 , price: 12
item: Item 4 , price: 67

In [6]:
print(23 in cost)
print(32 in item)
print(32 not in item)

True
False
True

In [7]:
i1,i2,i3,i4=item
print(i1)
print(i4)

item 1
Item 4

In [8]:
a,b=1,2
print(a,b)

1 2

In [9]:
a,b=b,a
print(a)
print(b)

2
1

In [10]:
print(item.index("Item 4"))

3

In [11]:
a=[11,22,33,44]
del a[2]
print(a)

[11, 22, 44]

In [12]:
a.remove(22)

In [13]:
print(a)

[11, 44]

In [14]:
#pop to pop from last

In [15]:
# Tuples are ordered, immutable ie unchangable, allow duplicate values, more memory efficient

In [16]:
q=('1','2','3',4)
print(q[2])
print(q[1:3])
len(q)

3
('2', '3')

4

In [17]:
# converting list and tuple
tuple(['1',2])
list((1,'2'))

[1, '2']

In [18]:

list('helo')

['h', 'e', 'l', 'o']

In [19]:
tuple('helo')

('h', 'e', 'l', 'o')

In [23]:
item={
   'no': [1,2,3],
    'item':[11,22,33]
}
for i,j in item.items():
    for k in j:
        if k==max(j):
            print(i,k)

no 3
item 33

In [21]:
# returning the key of largest element
test={
    'k1':1,
    'k2':123,
    'k3':149,
    'k4':13,
    
}


for i,j in test.items():
    if j==max(test.values()):
        print (i)

k3

In [32]:
print(test.get('k33',0))
print(test.get('k3'))

0
149

In [33]:
# merging two dictionaries
d1={'a':1,'b':2}
d2={'c':22,'b':77}
d3={**d1,**d2}
print(d3)

{'a': 1, 'b': 77, 'c': 22}

In [34]:
set1={1,2,3,3}
print(set1)

{1, 2, 3}

In [54]:
set1.add(45)
print(set1)

{1, 2, 3, 33, 44, 45, 22}

In [55]:
set1.update([22,33,44])
print(set1)

{1, 2, 3, 33, 44, 45, 22}

In [56]:
# set1.remove(44)
#remove returns error if element not present whereas discard doesn't
print(set1)
set1.remove(45)
set1.discard(55)
print(set1)

{1, 2, 3, 33, 44, 45, 22}
{1, 2, 3, 33, 44, 22}

In [62]:
# merging two sets
s1={11,22,33}
s2={55,66,66,33,44}
print(s1.union(s2))
# or
print(s1|s2)

{33, 66, 22, 55, 11, 44}
{33, 66, 22, 55, 11, 44}

In [66]:
# intersection 
s12={1,2,3,4,4}
s13={'a','d','r',1,4}
ss={2,4,1}

print(s12&s13&ss)
# or
print(s12.intersection(s13,ss))

{1, 4}
{1, 4}

In [69]:
a={1,2,3,4,5}
b={1,2,3,7,8}

print(a-b)#returns the elmnt in a that was not in b
print(a^b)#returns the elents in a and b except he common ones

{4, 5}
{4, 5, 7, 8}

In [70]:
# list comprehension
# copiying a list using compre....
l1=[1,2,3,4,'a']
l2=[i for i in l1]

print(l2)

[1, 2, 3, 4, 'a']

In [1]:
n=[(a,b) for a in range(1,3) for b in range(1,3)]
print(n)

[(1, 1), (1, 2), (2, 1), (2, 2)]

In [4]:
names = ['Charles', 'Susan', 'Patrick', 'George', 'Carol']
print([n for n in names if n[0]=='C'])
# or
print([n for n in names if n.startswith('C')])

['Charles', 'Carol']
['Charles', 'Carol']

In [6]:
nums = [1, 2, 3, 4, 5, 6]
new_list=[n*2  if n%2!=0 else n for n in nums]
print(new_list)

[2, 2, 6, 4, 10, 6]

In [9]:
b = {"abc", "def"}
print({i.upper() for i in b})

{'ABC', 'DEF'}

In [20]:
c = {'name': 'lost', 'age': '5'}
print({(v, k.upper()) if i % 2 == 0 else (v, k)  for v, k in c.items() for i in range(len(k))})

{('name', 'LOST'), ('name', 'lost'), ('age', '5')}

In [37]:
str='hello world'
str1=[]
# for i in str:
#  str1.append(i) 

# for i in range(len(str1)):
#     if i %2==0:
#         str1[i]=str[i].upper()

str1=[i for i in str]

str1= [str[i].upper() if i%2==0 else str[i] for i in range(len(str1))]
str=''.join(str1)

print(str)
print(str1)        
print(str.split('W'))
print(str.split('L'))

HeLlO WoRlD
['H', 'e', 'L', 'l', 'O', ' ', 'W', 'o', 'R', 'l', 'D']
['HeLlO ', 'oRlD']
['He', 'lO WoRlD']

In [38]:
spam = '    Hello World     '
print(spam)
print(spam.strip())

    Hello World
Hello World

In [52]:
s=''.join([i for i in spam if i!=' '])

# for i in s:
#     if i!=' ':
#         s1.append(i)

print(s)

HelloWorld

In [55]:
str='hello world'

s1=str.split()
for i in s1:
    print(i[0].upper()+i[1:],end=' ')

Hello World

In [65]:
d={'key1':'value1','key2':'value20'}

max_val=None
max_key=None

for i,j in d.items():
    if max_val is None or max_val < len(j):
        max_val=len(j)
        max_key=i
        
print(max_key)

key2

In [77]:
l=[1,2,3,4,5,6]
def sqr(l):
 return l*l

l1=list(map(sqr,l))
print(l1)

def evn(l):
   if l%2==0 :
    return l
print(list(filter(evn,l)))

[1, 4, 9, 16, 25, 36]
[2, 4, 6]

In [87]:
#palindrome
str='racecar'


def pal(str):
    l,h=0,len(str)-1
    while l<h:
         if str[l]!=str[h]:
            return "Not a palindrome"
         l+=1
         h-=1
    return "Palindrome"

pal(str)

'Palindrome'

In [93]:
fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "red"]

dict1={f:c for f,c in zip(fruits,colors)}

dict={f: c for f in fruits for c in colors}

print(dict1)
print(dict)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}
{'apple': 'red', 'banana': 'red', 'cherry': 'red'}

In [94]:
evn={x:x**2 for x in range(1,6)}
print(evn)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}